@import "../variables-site/variables-site";
@import "../mixins/mixins-master";

:root {
  --height__h-rose-top-menu-height: 66px;
  --height__h-rose-main-menu-height: 66px;
  --height__h-rose-top-menu-height-mobile: 56px;
  --height__h-rose-main-menu-height-mobile: 56px;

  --color__h-rose-top-menu-background: #FFFFFF;
  --color__h-rose-top-menu-border: #F0F2F5;
  --color__h-rose-main-menu-background: #FFFFFF;
  --color__h-rose-main-menu-border: #F0F2F5;
}

.beeteam368-top-menu {
  background-color: var(--color__h-rose-top-menu-background);
  border-bottom: 1px solid var(--color__h-rose-top-menu-border);
  position: relative;
  z-index: 7;
  width: 100%;
}

.beeteam368-top-menu-row {
  min-height: var(--height__h-rose-top-menu-height);
}

.beeteam368-main-menu {
  @include prefixer(box-shadow, 0px 1px 8px 1px var(--color__global-box-shadow), spec webkit);
  background-color: var(--color__h-rose-main-menu-background);
  width: 100%;
  position: relative;
  z-index: 5;
}

.beeteam368-main-menu-row {
  min-height: var(--height__h-rose-main-menu-height);
}

.side-close-btn {
  min-height: var(--height__h-rose-main-menu-height);
}

.beeteam368-logo-wrap {
  text-align: left;
}

.beeteam368-searchbox {
  @include prefixer(flex, 1, spec webkit ms);

  //custom position search box wrap
  .beeteam368-searchbox-wrap {
    .beeteam368-searchform {
      max-width: 700px;
    }

    @include transiton-builder(all 0.3s ease-in-out);

    .beeteam368-searchtext {
      @media(max-width: 575px) {
        & ~ .beeteam368-search-suggestions {
          @include border-radius(0);
        }
        &:focus {
          width: calc(100% + 0px);

          & ~ .beetam368-back-focus {
            left: 0;
          }

          & ~ .beeteam368-search-suggestions {
            left: calc(var(--grid_gutter_df) / 2 * -1);
            right: calc(var(--grid_gutter_df) / 2 * -1);
          }
        }
      }
    }
  }

  //custom position search box wrap
}

.beeteam368-h-rose {
  .beeteam368-main-nav {
    min-height: var(--height__h-rose-main-menu-height);
    @media(max-width: 991px) {
      min-height: var(--height__h-rose-main-menu-height-mobile);
    }
    @media(min-width: 992px) {
      > ul > li > a {
        min-height: var(--height__h-rose-main-menu-height);
      }
    }
  }
}

//*mobile
@media(min-width: 992px) {
  .beeteam368-logo-mobile,
  .beeteam368-top-menu {
    display: none;
  }
}

@media(max-width: 991px) {

  .side-menu-mode.sidemenu-right{
    .beeteam368-searchbox{
      order:1;
    }
    .beeteam368-mobile-menu-btn{
      order:2;
    }
    .beeteam368-logo-mobile{
      order:1;
    }
    .beeteam368-social-account-sub-nav,
    .beeteam368-social-account-sub-login-nav{
      order:0;
    }
  }

  .beeteam368-top-menu-row {
    min-height: var(--height__h-rose-top-menu-height-mobile);
  }

  .beeteam368-searchbox {
    width: auto;
    z-index: 9;
  }

  .beeteam368-main-menu-row,
  .side-close-btn {
    min-height: var(--height__h-rose-main-menu-height-mobile);
  }

  .beeteam368-logo {
    display: none;
  }
  .beeteam368-logo-mobile {
    @include prefixer(flex, 1, spec webkit ms);
  }
  .beeteam368-logo-wrap {
    text-align: center;
  }
}

@include mobileMenuOpen('--height__top-bar', '--color__h-rose-main-menu-border', '--height__h-all-main-menu-height-open-mobile');
//*mobile